.Pay-as-you-watch {

  height: 24px;
  font-size: 22px;
  line-height: 1.09;
  text-align: center;
  color: #a13f96;
  margin-top: 35pt;
}
.Rectangledays {

  width: 840px;
  height: 355px;
  background-color: #1c1c1c;
  box-shadow: 0 2px 4px 0 #00000026;
  margin-left: 270pt;
}

.pwd {
  text-align: center;
  padding-top: 20pt;
}
.pwdd {
  text-align: center;
  color: white;
  padding-top: 30pt;
}

.linden {
  margin-top: 20pt;
  margin-left: 70pt;
  float: left;
}
.randburg {
  float: left;
  margin-top: 20pt;
  margin-left: 40pt;
}

.center-view {
  border-width: 3pt;
  border-color: #ff9c2c;
  margin-top: 80pt;
  margin-left: 40pt;
  float: left;

}


.red1 {
  margin-top: 80pt;
}

.button {
  margin-bottom: 1pt;
  margin-left: 270pt;
  height: 20pt;
  color: #4CAF50;
  background-color: #1d1d1d;
  width: 60pt;
}

