<div class="cool">
  <h1 class="pwd">Randburg VS Linden</h1>
  <button class="button" (click)="goBack()">Back</button>
  <div class="Rectangledays">
    <h2 class="pwdd">Pick the Result</h2>
    <div class="row">
    <div class="col-md-4">
      <div  class="Oval-2_1">
        <img src="http://www.rugby15.co.za/wp-content/uploads/2014/03/Linden-Logo-2.jpg" class="vector linden">
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <select class="center-view">
          <option>Linden by 30</option>
          <option>Linden by 29</option>
          <option>Linden by 28</option>
          <option>Linden by 27</option>
          <option>Linden by 26</option>
          <option>Linden by 25</option>
          <option>Linden by 24</option>
          <option>Linden by 23</option>
          <option>Linden by 22</option>
          <option>Linden by 21</option>
          <option>Linden by 20</option>
          <option>Linden by 19</option>
          <option>Linden by 18</option>
          <option>Linden by 17</option>
          <option>Linden by 16</option>
          <option>Linden by 15</option>
          <option>Linden by 14</option>
          <option>Linden by 13</option>
          <option>Linden by 12</option>
          <option>Linden by 11</option>
          <option>Linden by 10</option>
          <option>Linden by 9</option>
          <option>Linden by 8</option>
          <option>Linden by 7</option>
          <option>Linden by 6</option>
          <option>Linden by 5</option>
          <option>Linden by 4</option>
          <option>Linden by 3</option>
          <option>Linden by 2</option>
          <option>Linden by 1</option>
          <option>Draw</option>
          <option>Randburg by 1</option>
          <option>Randburg by 2</option>
          <option>Randburg by 3</option>
          <option>Randburg by 4</option>
          <option>Randburg by 5</option>
          <option>Randburg by 6</option>
          <option>Randburg by 7</option>
          <option>Randburg by 8</option>
          <option>Randburg by 9</option>
          <option>Randburg by 10</option>
          <option>Randburg by 11</option>
          <option>Randburg by 12</option>
          <option>Randburg by 13</option>
          <option>Randburg by 14</option>
          <option>Randburg by 15</option>
          <option>Randburg by 16</option>
          <option>Randburg by 17</option>
          <option>Randburg by 18</option>
          <option>Randburg by 19</option>
          <option>Randburg by 20</option>
          <option>Randburg by 21</option>
          <option>Randburg by 22</option>
          <option>Randburg by 23</option>
          <option>Randburg by 24</option>
          <option>Randburg by 25</option>
          <option>Randburg by 26</option>
          <option>Randburg by 27</option>
          <option>Randburg by 28</option>
          <option>Randburg by 29</option>
          <option>Randburg by 30</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <img src="http://klipfontein.org.za/wp-content/uploads/2017/01/hsrandburg-wapen.png" class="vector randburg">
      </div>
    </div>
  </div>
</div>
  <h1 class="pwd">Brandwag VS Helpmekaar</h1>
  <div class="Rectangledays">
    <h2 class="pwdd">Pick the Result</h2>
    <div class="row">
      <div class="col-md-4">
        <div  class="Oval-2_1">
          <img src="http://www.brandwag.co.za/wp-content/themes/brandwag/images/logo.png" class="vector linden">
        </div>
      </div>
      <div class="col-md-4">
        <div class="Oval-2_2">
          <select class="center-view red1">
            <option>Brandwag by 30</option>
            <option>Brandwag by 29</option>
            <option>Brandwag by 28</option>
            <option>Brandwag by 27</option>
            <option>Brandwag by 26</option>
            <option>Brandwag by 25</option>
            <option>Brandwag by 24</option>
            <option>Brandwag by 23</option>
            <option>Brandwag by 22</option>
            <option>Brandwag by 21</option>
            <option>Brandwag by 20</option>
            <option>Brandwag by 19</option>
            <option>Brandwag by 18</option>
            <option>Brandwag by 17</option>
            <option>Brandwag by 16</option>
            <option>Brandwag by 15</option>
            <option>Brandwag by 14</option>
            <option>Brandwag by 13</option>
            <option>Brandwag by 12</option>
            <option>Brandwag by 11</option>
            <option>Brandwag by 10</option>
            <option>Brandwag by 9</option>
            <option>Brandwag by 8</option>
            <option>Brandwag by 7</option>
            <option>Brandwag by 6</option>
            <option>Brandwag by 5</option>
            <option>Brandwag by 4</option>
            <option>Brandwag by 3</option>
            <option>Brandwag by 2</option>
            <option>Brandwag by 1</option>
            <option>Draw</option>
            <option>Helpmekaar by 1</option>
            <option>Helpmekaar by 2</option>
            <option>Helpmekaar by 3</option>
            <option>Helpmekaar by 4</option>
            <option>Helpmekaar by 5</option>
            <option>Helpmekaar by 6</option>
            <option>Helpmekaar by 7</option>
            <option>Helpmekaar by 8</option>
            <option>Helpmekaar by 9</option>
            <option>Helpmekaar by 10</option>
            <option>Helpmekaar by 11</option>
            <option>Helpmekaar by 12</option>
            <option>Helpmekaar by 13</option>
            <option>Helpmekaar by 14</option>
            <option>Helpmekaar by 15</option>
            <option>Helpmekaar by 16</option>
            <option>Helpmekaar by 17</option>
            <option>Helpmekaar by 18</option>
            <option>Helpmekaar by 19</option>
            <option>Helpmekaar by 20</option>
            <option>Helpmekaar by 21</option>
            <option>Helpmekaar by 22</option>
            <option>Helpmekaar by 23</option>
            <option>Helpmekaar by 24</option>
            <option>Helpmekaar by 25</option>
            <option>Helpmekaar by 26</option>
            <option>Helpmekaar by 27</option>
            <option>Helpmekaar by 28</option>
            <option>Helpmekaar by 29</option>
            <option>Helpmekaar by 30</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Oval-2_2">
          <img src="http://www.ysn.co.za/sites/default/files/crests/helpmekaaaar.jpg" class="vector randburg">
        </div>
      </div>
    </div>
  </div>
  <h1 class="pwd">Tuine VS Menlonpark</h1>
  <div class="Rectangledays">
    <h2 class="pwdd">Pick the Result</h2>
    <div class="row">
      <div class="col-md-4">
        <div  class="Oval-2_1">
          <img src="http://tuinehsalumni.co.za/wp-content/uploads/2016/09/skool-wapen-1-2-1.png" class="vector linden">
        </div>
      </div>
      <div class="col-md-4">
        <div class="Oval-2_2">
          <select class="center-view">
            <option>Menlonpark by 30</option>
            <option>Menlonpark by 29</option>
            <option>Menlonpark by 28</option>
            <option>Menlonpark by 27</option>
            <option>Menlonpark by 26</option>
            <option>Menlonpark by 25</option>
            <option>Menlonpark by 24</option>
            <option>Menlonpark by 23</option>
            <option>Menlonpark by 22</option>
            <option>Menlonpark by 21</option>
            <option>Menlonpark by 20</option>
            <option>Menlonpark by 19</option>
            <option>Menlonpark by 18</option>
            <option>Menlonpark by 17</option>
            <option>Menlonpark by 16</option>
            <option>Menlonpark by 15</option>
            <option>Menlonpark by 14</option>
            <option>Menlonpark by 13</option>
            <option>Menlonpark by 12</option>
            <option>Menlonpark by 11</option>
            <option>Menlonpark by 10</option>
            <option>Menlonpark by 9</option>
            <option>Menlonpark by 8</option>
            <option>Menlonpark by 7</option>
            <option>Menlonpark by 6</option>
            <option>Menlonpark by 5</option>
            <option>Menlonpark by 4</option>
            <option>Menlonpark by 3</option>
            <option>Menlonpark by 2</option>
            <option>Menlonpark by 1</option>
            <option>Draw</option>
            <option>Noorheuwel by 1</option>
            <option>Noorheuwel by 2</option>
            <option>Noorheuwel by 3</option>
            <option>Noorheuwel by 4</option>
            <option>Noorheuwel by 5</option>
            <option>Noorheuwel by 6</option>
            <option>Noorheuwel by 7</option>
            <option>Noorheuwel by 8</option>
            <option>Noorheuwel by 9</option>
            <option>Noorheuwel by 10</option>
            <option>Noorheuwel by 11</option>
            <option>Noorheuwel by 12</option>
            <option>Noorheuwel by 13</option>
            <option>Noorheuwel by 14</option>
            <option>Noorheuwel by 15</option>
            <option>Noorheuwel by 16</option>
            <option>Noorheuwel by 17</option>
            <option>Noorheuwel by 18</option>
            <option>Noorheuwel by 19</option>
            <option>Noorheuwel by 20</option>
            <option>Noorheuwel by 21</option>
            <option>Noorheuwel by 22</option>
            <option>Noorheuwel by 23</option>
            <option>Noorheuwel by 24</option>
            <option>Noorheuwel by 25</option>
            <option>Noorheuwel by 26</option>
            <option>Noorheuwel by 27</option>
            <option>Noorheuwel by 28</option>
            <option>Noorheuwel by 29</option>
            <option>Noorheuwel by 30</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="Oval-2_2">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Menlopark_High_School_Logo.png/220px-Menlopark_High_School_Logo.png" class="vector randburg">
        </div>
      </div>
    </div>
  </div>
</div>
