<!--<button type="button" class="btn btn-alt btn-sm btn-primary" (click)="viewState.toggleShallow()">-->
<!--<i class="fa fa-delicious"></i>-->
<!--</button>-->

<button *ngIf="tooltip"
        type="button"
        [class]="'btn btn-alt btn-sm' + (type ? ' btn-' + type : '')"
        (click)="click($event)"
        data-toggle="tooltip" data-placement="left"
        [title]="tooltip">
  <i [class]="'fa' + (icon ? ' fa-' + icon : '')"></i>{{ label ? ' ' + label : '' }}
</button>
<button *ngIf="!tooltip"
        type="button"
        [class]="'btn btn-alt btn-sm' + (type ? ' btn-' + type : '')"
        (click)="click($event)">
  <i [class]="'fa' + (icon ? ' fa-' + icon : '')"></i>{{ label ? ' ' + label : '' }}
</button>
