<h1>Beeld Trofee U18 Fixtures</h1>
<hr/>
<h2>Week 1</h2>
<button (click)="goBack()" class="btn">Make Picks</button>
<table class="fixturesT" width="80%" border="0" cellspacing="1" cellpadding="3" bgcolor="#CCCCCC">
  <tbody>
  <tr>
    <td style="text-align: left;" colspan="7" align="left" valign="top" bgcolor="#F2F2F2"><strong>8 July 2017 </strong></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">08:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>LINDEN</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>RANDBURG</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr></tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">10:00</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>BRANDWAG</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>HELPMEKAAR</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">11:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>TUINE</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>MONUMENT</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">13:00</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>Blue Bulls</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>KwaZulu-Natal</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">15:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>Limpopo Blue Bulls</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>Boland</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  </tbody>
</table>

<h2>Week 2</h2>
<button (click)="goThere()" class="btn">Make Picks</button>
<table class="fixturesT" width="80%" border="0" cellspacing="1" cellpadding="3" bgcolor="#CCCCCC">
  <tbody>
  <tr>
    <td style="text-align: left;" colspan="7" align="left" valign="top" bgcolor="#F2F2F2"><strong>17 July 2017 </strong></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">08:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>GOLDEN LIONS</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>BORDER</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr></tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">10:00</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>WESTERN PROVINCE</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>PUMAS</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">11:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>BLUE BULLS</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>SHARKS</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">13:00</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>GRIQUAS</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>EASTERN PROVINCE</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" width="40">15:30</td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>VALKE</strong></td>
    <td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><strong>NAMIBIA</strong></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>
  </tr>
  </tbody>
</table>


<!--<h2>Week 3</h2>-->
<!--<button (click)="goBack()" class="btn">Make Picks</button>-->
<!--<table class="fixturesT" width="80%" border="0" cellspacing="1" cellpadding="3" bgcolor="#CCCCCC">-->
  <!--<tbody>-->
  <!--<tr>-->
    <!--<td style="text-align: left;" colspan="7" align="left" valign="top" bgcolor="#F2F2F2"><strong>22 July 2017 </strong></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">08:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Griquas</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Zimbabwe</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">10:00</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Border</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Namibia</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">11:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Western Province</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Pumas</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">13:00</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Blue Bulls</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>KwaZulu-Natal</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">15:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Limpopo Blue Bulls</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Boland</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->



<!--<h2>Week 4</h2>-->
<!--<button (click)="goBack()" class="btn">Make Picks</button>-->
<!--<table class="fixturesT" width="80%" border="0" cellspacing="1" cellpadding="3" bgcolor="#CCCCCC">-->
  <!--<tbody>-->
  <!--<tr>-->
    <!--<td style="text-align: left;" colspan="7" align="left" valign="top" bgcolor="#F2F2F2"><strong>29 July 2017 </strong></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">08:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Griquas</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Zimbabwe</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">10:00</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Border</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Namibia</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">11:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Western Province</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Pumas</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">13:00</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Blue Bulls</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>KwaZulu-Natal</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF" width="40">15:30</td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Limpopo Blue Bulls</strong></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF" width="70"><span>VS</span></td>-->
    <!--<td align="center" valign="top" bgcolor="#FFFFFF"><strong>Boland</strong></td>-->
    <!--<td align="left" valign="top" bgcolor="#FFFFFF">U18 Beeld Trofee</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

