<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="http://cdn.24.co.za/files/Cms/General/d/3249/328b7d071b1a496fa835e3b6d154a8f8.jpg"/>
    <img align="left" class="fb-image-profile thumbnail" src="https://pbs.twimg.com/media/CVkdspOVEAEeG8c.jpg" alt="Profile image example"/>
    <div class="fb-profile-text">
      <h1>Faf de klerk</h1>
      <p>Join the team, Be the team.</p>
    </div>
  </div>
</div> <!-- /container -->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<table class="table table-hover" id="dev-table">-->
        <!--<thead>-->
        <!--<tr class="bg-primary">-->
          <!--<th>Sport</th>-->
          <!--<th>School</th>-->
          <!--<th>Category</th>-->
          <!--<th>Age group</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
          <!--<td>Rugby</td>-->
          <!--<td>Hoerskool Randburg</td>-->
          <!--<td>Abond</td>-->
          <!--<td>1st Team</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Rugby</td>-->
          <!--<td>Hoerskool Linden</td>-->
          <!--<td>Abond</td>-->
          <!--<td>1st Team</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Rugby</td>-->
          <!--<td>Hoerskool Helpmekaar</td>-->
          <!--<td>Abond</td>-->
          <!--<td>1st Team</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>Rugby</td>-->
          <!--<td>Hoerskool Kemptonpark</td>-->
          <!--<td>Abond</td>-->
          <!--<td>1st Team</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->
