

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
  font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 1150pt;
  height: 500pt;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width:768px)
{

  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
.container {

}
.row{
  margin-top:80pt;
  padding: 0 10pt;
}
table, th, td {
  border: 1px solid black;
}
table {
  width: 100%;
}

th {
  height: 50px;
  background: linear-gradient(darkgray, lightsteelblue, gray);
}
td {
  text-align: center;
  background: linear-gradient(#9aa6a8, #a6b3b5, #becbcd);
  color: black;
}
