

<h1 >Calculator</h1>
<hr/>
<body>
  <div class="rectangle2">
    <div class="col-xs-4">
      <input type="text" class="screen" placeholder="Out of Order!...">
      <div class="rectangle">
        <Button class="button" row="2" col="0" text="7">7</Button>
        <Button class="button" row="2" col="1" text="8">8</Button>
        <Button class="button" row="2" col="2" text="9">9</Button>
        <Button class="button" row="2" col="4" text="+">+</Button>
        <br/>
        <Button class="button" row="3" col="0" text="4">4</Button>
        <Button class="button" row="3" col="1" text="5">5</Button>
        <Button class="button" row="3" col="2" text="6">6</Button>
        <Button class="button" row="3" col="3" text="=">=</Button>
        <br/>
        <Button class="button" row="3" col="4" text="1">1</Button>
        <Button class="button" row="4" col="0" text="2">2</Button>
        <Button class="button" row="4" col="1" text="3">3</Button>
        <Button class="button" row="4" col="2" text="-">-</Button>
        <br/>
        <Button class="button" row="4" col="3" text="X">x</Button>
        <Button class="button" row="5" col="0" text="0">0</Button>
        <Button class="button" row="5" col="1" text="(">(</Button>
        <Button class="button" row="5" col="2" text=")">)</Button>
        <br/>
        <Button class="button" row="5" col="3" text=".">.</Button>
        <Button class="button2" row="6" col="0" text="UNDO">UNDO</Button>
        <Button class="button2" row="6" col="1" text="ENTER">ENTER</Button>
      </div>
    </div>
  </div>
</body>

<footer class="foot">
  calculator
</footer>
