.button, label{
  horizontal-align: center;
  width: 35pt;
  height: 20pt;
}
.button2 {
  height: 20pt;
  width: 54pt;
  margin-top: 2pt;
}

.button {
  margin-top: 2pt;
}

.label {
  font-size: 36px;
}

.label.result {
  font-size: 42px;
  horizontal-align: left;
}


 .rectangle2 {
   height: 200pt;
   width: 200pt;;
   border-color: #000;
   margin-left: 430pt;
   margin-right: 476pt;
   margin-top: 100pt;
   margin-bottom: 100pt;
   background-color: #333333;
 }
.rectangle {
  margin-left: 25pt;
  padding-top: 10pt;
  width: auto;
  height: auto;
}

.screen {
  margin-left: 25pt;
  margin-top: 20pt;
  width:143pt;
  height: 40pt;;
}

h1 {
  text-align: center;
}

.foot {
  background-color: #333333;
  color: white;
  height: 50pt;
}
