
.sidebar1 {
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F17153, #F58D63, #f1ab53);
  /* Standard syntax */
  padding: 0px;
  min-height: 100%;
}
