.foot {
  background-color: #333333;
  color: white;
  height: 50pt;
}

.body {
  background: border-box;
}
.KWESE0784-3 {
  width: 300px;
  height: 300px;
  background-image: url(http://bullstampede.co.za/wp-content/uploads/2016/09/2016-Bulls-blue1-300x300.jpg);
  margin-left: 3pt;
  margin-top: 10pt;
  float: left;

}

.KWESE-DAY-22191 {
  width: 300px;
  height: 300px;
  background-image: url(https://images.supersport.com/2016/2/PUMACheetahsAwayfront160205JerseyG300.jpg);
  margin-left: 3pt;
  margin-top: 10pt;
  float: left;

}

.KWESE-DAY-22444 {
  width: 300px;
  height: 300px;
  background-image: url(http://lionsrugbyshop.co.za/wp-content/uploads/2016/04/DU3372a-300x300.jpg);
  float: left;
  margin-top: 10pt;
  margin-left: 3pt;

}
.KWESE-DAY-22445 {
  width: 300px;
  height: 300px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/411vyKdWmdL._SY300_.jpg);
  float: left;
  margin-top: 10pt;
  margin-left: 3pt;

}
.KWESE-DAY-22446 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.prodirectrugby.com/productimages/thumbs/156867.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22447 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.prodirectrugby.com/productimages/thumbs/146472.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22448 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.prodirectrugby.com/productimages/thumbs/146473.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22449 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.prodirectrugby.com/productimages/thumbs/146474.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22440 {
  width: 300px;
  height: 300px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/87/36/d4/8736d44180838592c97079b9a6706c1b.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22410 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.superrugbyshop.com/wp-content/uploads/2016/12/BLK-Sport-Melbourne-Rebels-Super-Rugby-Training-Tee-2017-300x300.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22411 {
  width: 300px;
  height: 300px;
  background-image: url(http://www.usa-rugbystore.com/wp-content/uploads/2016/10/BLK-Sport-Queensland-Reds-Super-Rugby-2015-Away-Jersey-300x300.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.KWESE-DAY-22412 {
  width: 300px;
  height: 300px;
  background-image: url(http://i.ebayimg.com/images/g/OroAAOSw2gxYsbCO/s-l300.jpg);
  float: left;
  margin-top: 50pt;
  margin-left: 3pt;

}
.textbox {
  width: 300pt;
  height: 30pt;
  background-color: #b05a51;
  text-align: center;
  align-items: center;
  margin-left: 430pt;
}

.CU_Vikings_posters_a {
  width: 225pt;
  height: 30px;
  background-color: #76a0d0;
  text-align: center;

  float: left;
  margin-left: 3pt;

  margin-top: 3pt;

}
.CU_Vikings_posters_b {
  width: 225pt;
  height: 50px;
  background-color: #76a0d0;

  float: left;
  margin-left: 3pt;

  margin-top: 1pt;
  margin-bottom: 1pt;

}
.col-md-3 {
  margin-left: 100pt;
}

h3 {
  text-align: center;
}
