<h1 class="pwd">Tuine VS Menlonpark</h1>
<button class="button" (click)="goBack()">Back</button>
<div class="Rectangledays">
  <h2 class="pwdd">Pick the Result</h2>
  <div class="row">
    <div class="col-md-4">
      <div  class="Oval-2_1">
        <img src="http://tuinehsalumni.co.za/wp-content/uploads/2016/09/skool-wapen-1-2-1.png" class="vector linden">
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <select class="center-view">
          <option>Menlonpark by 30</option>
          <option>Menlonpark by 29</option>
          <option>Menlonpark by 28</option>
          <option>Menlonpark by 27</option>
          <option>Menlonpark by 26</option>
          <option>Menlonpark by 25</option>
          <option>Menlonpark by 24</option>
          <option>Menlonpark by 23</option>
          <option>Menlonpark by 22</option>
          <option>Menlonpark by 21</option>
          <option>Menlonpark by 20</option>
          <option>Menlonpark by 19</option>
          <option>Menlonpark by 18</option>
          <option>Menlonpark by 17</option>
          <option>Menlonpark by 16</option>
          <option>Menlonpark by 15</option>
          <option>Menlonpark by 14</option>
          <option>Menlonpark by 13</option>
          <option>Menlonpark by 12</option>
          <option>Menlonpark by 11</option>
          <option>Menlonpark by 10</option>
          <option>Menlonpark by 9</option>
          <option>Menlonpark by 8</option>
          <option>Menlonpark by 7</option>
          <option>Menlonpark by 6</option>
          <option>Menlonpark by 5</option>
          <option>Menlonpark by 4</option>
          <option>Menlonpark by 3</option>
          <option>Menlonpark by 2</option>
          <option>Menlonpark by 1</option>
          <option>Draw</option>
          <option>Noorheuwel by 1</option>
          <option>Noorheuwel by 2</option>
          <option>Noorheuwel by 3</option>
          <option>Noorheuwel by 4</option>
          <option>Noorheuwel by 5</option>
          <option>Noorheuwel by 6</option>
          <option>Noorheuwel by 7</option>
          <option>Noorheuwel by 8</option>
          <option>Noorheuwel by 9</option>
          <option>Noorheuwel by 10</option>
          <option>Noorheuwel by 11</option>
          <option>Noorheuwel by 12</option>
          <option>Noorheuwel by 13</option>
          <option>Noorheuwel by 14</option>
          <option>Noorheuwel by 15</option>
          <option>Noorheuwel by 16</option>
          <option>Noorheuwel by 17</option>
          <option>Noorheuwel by 18</option>
          <option>Noorheuwel by 19</option>
          <option>Noorheuwel by 20</option>
          <option>Noorheuwel by 21</option>
          <option>Noorheuwel by 22</option>
          <option>Noorheuwel by 23</option>
          <option>Noorheuwel by 24</option>
          <option>Noorheuwel by 25</option>
          <option>Noorheuwel by 26</option>
          <option>Noorheuwel by 27</option>
          <option>Noorheuwel by 28</option>
          <option>Noorheuwel by 29</option>
          <option>Noorheuwel by 30</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Menlopark_High_School_Logo.png/220px-Menlopark_High_School_Logo.png" class="vector randburg">
      </div>
    </div>
  </div>
</div>

<h1 class="pwd">Tuine VS Menlonpark</h1>
<div class="Rectangledays">
  <h2 class="pwdd">Pick the Result</h2>
  <div class="row">
    <div class="col-md-4">
      <div  class="Oval-2_1">
        <img src="http://tuinehsalumni.co.za/wp-content/uploads/2016/09/skool-wapen-1-2-1.png" class="vector linden">
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <select class="center-view">
          <option>Menlonpark by 30</option>
          <option>Menlonpark by 29</option>
          <option>Menlonpark by 28</option>
          <option>Menlonpark by 27</option>
          <option>Menlonpark by 26</option>
          <option>Menlonpark by 25</option>
          <option>Menlonpark by 24</option>
          <option>Menlonpark by 23</option>
          <option>Menlonpark by 22</option>
          <option>Menlonpark by 21</option>
          <option>Menlonpark by 20</option>
          <option>Menlonpark by 19</option>
          <option>Menlonpark by 18</option>
          <option>Menlonpark by 17</option>
          <option>Menlonpark by 16</option>
          <option>Menlonpark by 15</option>
          <option>Menlonpark by 14</option>
          <option>Menlonpark by 13</option>
          <option>Menlonpark by 12</option>
          <option>Menlonpark by 11</option>
          <option>Menlonpark by 10</option>
          <option>Menlonpark by 9</option>
          <option>Menlonpark by 8</option>
          <option>Menlonpark by 7</option>
          <option>Menlonpark by 6</option>
          <option>Menlonpark by 5</option>
          <option>Menlonpark by 4</option>
          <option>Menlonpark by 3</option>
          <option>Menlonpark by 2</option>
          <option>Menlonpark by 1</option>
          <option>Draw</option>
          <option>Noorheuwel by 1</option>
          <option>Noorheuwel by 2</option>
          <option>Noorheuwel by 3</option>
          <option>Noorheuwel by 4</option>
          <option>Noorheuwel by 5</option>
          <option>Noorheuwel by 6</option>
          <option>Noorheuwel by 7</option>
          <option>Noorheuwel by 8</option>
          <option>Noorheuwel by 9</option>
          <option>Noorheuwel by 10</option>
          <option>Noorheuwel by 11</option>
          <option>Noorheuwel by 12</option>
          <option>Noorheuwel by 13</option>
          <option>Noorheuwel by 14</option>
          <option>Noorheuwel by 15</option>
          <option>Noorheuwel by 16</option>
          <option>Noorheuwel by 17</option>
          <option>Noorheuwel by 18</option>
          <option>Noorheuwel by 19</option>
          <option>Noorheuwel by 20</option>
          <option>Noorheuwel by 21</option>
          <option>Noorheuwel by 22</option>
          <option>Noorheuwel by 23</option>
          <option>Noorheuwel by 24</option>
          <option>Noorheuwel by 25</option>
          <option>Noorheuwel by 26</option>
          <option>Noorheuwel by 27</option>
          <option>Noorheuwel by 28</option>
          <option>Noorheuwel by 29</option>
          <option>Noorheuwel by 30</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Menlopark_High_School_Logo.png/220px-Menlopark_High_School_Logo.png" class="vector randburg">
      </div>
    </div>
  </div>
</div>


<h1 class="pwd">Tuine VS Menlonpark</h1>
<div class="Rectangledays">
  <h2 class="pwdd">Pick the Result</h2>
  <div class="row">
    <div class="col-md-4">
      <div  class="Oval-2_1">
        <img src="http://tuinehsalumni.co.za/wp-content/uploads/2016/09/skool-wapen-1-2-1.png" class="vector linden">
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <select class="center-view">
          <option>Menlonpark by 30</option>
          <option>Menlonpark by 29</option>
          <option>Menlonpark by 28</option>
          <option>Menlonpark by 27</option>
          <option>Menlonpark by 26</option>
          <option>Menlonpark by 25</option>
          <option>Menlonpark by 24</option>
          <option>Menlonpark by 23</option>
          <option>Menlonpark by 22</option>
          <option>Menlonpark by 21</option>
          <option>Menlonpark by 20</option>
          <option>Menlonpark by 19</option>
          <option>Menlonpark by 18</option>
          <option>Menlonpark by 17</option>
          <option>Menlonpark by 16</option>
          <option>Menlonpark by 15</option>
          <option>Menlonpark by 14</option>
          <option>Menlonpark by 13</option>
          <option>Menlonpark by 12</option>
          <option>Menlonpark by 11</option>
          <option>Menlonpark by 10</option>
          <option>Menlonpark by 9</option>
          <option>Menlonpark by 8</option>
          <option>Menlonpark by 7</option>
          <option>Menlonpark by 6</option>
          <option>Menlonpark by 5</option>
          <option>Menlonpark by 4</option>
          <option>Menlonpark by 3</option>
          <option>Menlonpark by 2</option>
          <option>Menlonpark by 1</option>
          <option>Draw</option>
          <option>Noorheuwel by 1</option>
          <option>Noorheuwel by 2</option>
          <option>Noorheuwel by 3</option>
          <option>Noorheuwel by 4</option>
          <option>Noorheuwel by 5</option>
          <option>Noorheuwel by 6</option>
          <option>Noorheuwel by 7</option>
          <option>Noorheuwel by 8</option>
          <option>Noorheuwel by 9</option>
          <option>Noorheuwel by 10</option>
          <option>Noorheuwel by 11</option>
          <option>Noorheuwel by 12</option>
          <option>Noorheuwel by 13</option>
          <option>Noorheuwel by 14</option>
          <option>Noorheuwel by 15</option>
          <option>Noorheuwel by 16</option>
          <option>Noorheuwel by 17</option>
          <option>Noorheuwel by 18</option>
          <option>Noorheuwel by 19</option>
          <option>Noorheuwel by 20</option>
          <option>Noorheuwel by 21</option>
          <option>Noorheuwel by 22</option>
          <option>Noorheuwel by 23</option>
          <option>Noorheuwel by 24</option>
          <option>Noorheuwel by 25</option>
          <option>Noorheuwel by 26</option>
          <option>Noorheuwel by 27</option>
          <option>Noorheuwel by 28</option>
          <option>Noorheuwel by 29</option>
          <option>Noorheuwel by 30</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Oval-2_2">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1a/Menlopark_High_School_Logo.png/220px-Menlopark_High_School_Logo.png" class="vector randburg">
      </div>
    </div>
  </div>
</div>
