<app-navigation></app-navigation>
<router-outlet></router-outlet>

<!--<strong><h1>The App of Apps</h1></strong>-->

<!--<div class="apps">-->
  <!--<img src="http://www.senseimarketing.com/wp-content/uploads/2015/01/Logos-1200x565.jpg">-->
<!--</div>-->

<!--<footer class="foot"></footer>-->
