
<div class="koos">
  <img src="https://i.ytimg.com/vi/QrTZqqQyVnw/maxresdefault.jpg"></div>

<form action="/action_page.php">
 <h1> Join The Fun</h1>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>







<!--<footer class="foot">-->
  <!--Nate_ng-->
<!--</footer>-->
