
<ul class="">
  <li><img src="http://cdn4.aptoide.com/imgs/e/7/e/e7e9938551d2ee183c983f03abb33933_icon_96x96.jpg" class="img"/></li>
  <li><a href="../dashboard">Join</a></li>
  <li><a href="../country-list">Teams</a></li>
  <li><a href="../profile">Profile</a></li>
  <!--<li><a href="../picks">Picks</a></li>-->
  <li><a href="../pools">Fixtures</a></li>
  <!--<li><a href="../week2">week2</a></li>-->

</ul>
    <div class="col-md-2 col-sm-4 sidebar1"></div>

