ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}
.lil {
  float: left;
  color: white;
  margin-top: 20pt;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.img {
  width: 40pt;
  height: 40pt;
}
.sidebar1 {
  background: #F17153;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F17153, #F58D63, #f1ab53);
  /* Standard syntax */
  padding: 0px;
  min-height: 100%;
}
/*.logo>img {*/
  /*margin-top: 30px;*/
  /*padding: 3px;*/
  /*border: 3px solid white;*/
  /*border-radius: 100%;*/
/*}*/
.list {
  color: #fff;
  list-style: none;
  padding-left: 0px;
}
/*.list::first-line {*/
  /*color: rgba(255, 255, 255, 0.5);*/
/*}*/
/*.list> li, h5 {*/
  /*padding: 5px 0px 5px 40px;*/
/*}*/
/*.list>li:hover {*/
  /*background-color: rgba(255, 255, 255, 0.2);*/
  /*border-left: 5px solid white;*/
  /*color: white;*/
  /*font-weight: bolder;*/
  /*padding-left: 35px;*/
/*}.main-content{*/
   /*text-align:center;*/
 /*}*/
